@model MvcApplication6.Models.Product

<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<div id="openProduct">
@using (Ajax.BeginForm("Open", new AjaxOptions()
{
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "product-div"
}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Product</legend>

        @Html.HiddenFor(x => x.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Appeared)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Appeared)
            @Html.ValidationMessageFor(model => model.Appeared)
        </div>

        <p>
            @if (Request.IsAjaxRequest())
            {
                <input id="saveButton" type="button" value="Save" />
                
                @* 
                @Ajax.ActionLink("Save", "Open", "Product", Model , new AjaxOptions() { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId="product-div" ,OnComplete="onProductSave" })
                *@
            }
            else
            {
                <input type="submit" value="Save" />
            }
        </p>
    </fieldset>
}
</div>

<div>
    @Html.ActionLink("Product List", "List")
</div>

<script>
    //function onAjaxBegin() {
    //    $("#product-div").hide();
    //}
    $("#saveButton").click(function () {
        $.ajax({
            type: "POST",
            url: '@Url.Action("Open")',
            data: $('form').serialize(),
            success: function (response) {
                onProductSave();
            }
        });
    });

    function onProductSave() {
        $("#product-div").hide();
    }
</script>