@model IEnumerable<MvcApplication6.Models.Product>

@Scripts.Render("~/bundles/jquery")

@using (Html.BeginForm())
{
    <div id="productList">
        <table>
        <tr>
            <td hidden="hidden"></td>
            <td>Description</td>
            <td>Appeared</td>
            <td>Edit</td>
        </tr>
            @foreach (var i in Model)
            {
        <tr>
            <td hidden="hidden" id="@i.Id"></td>
            <td>@i.Description</td>
            <td>@i.Appeared</td>
@*            <td>@Html.ActionLink("Edit", "Open", new {id=i.Id}) </td>*@
            <td>  
                @*<input id="edit-product-button" type="button" value="Edit">*@
                @Ajax.ActionLink("Show", "Open", new { id = i.Id }, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "product-div", InsertionMode = InsertionMode.Replace, OnSuccess="onProductShow"})
            </td>
        </tr>
                
            }
      </table>
    </div>
}

<script>
    function onProductShow() {
        $("#product-div").show();
    }
</script>

@*<script type="text/javascript">
    $( function () {
        $("#openProduct").dialog({
            autoOpen:false,
            width: 600,
            height: 500,
            show: {effect:"blind", duration: 1000}
        });

        $("#edit-product-button").click( function(){$("#openProduct").dialog("open")});
    });
    
</script>*@